Source: wmclock
Section: x11
Priority: optional
Maintainer: Romain Francoise <rfrancoise@debian.org>
Build-Depends: debhelper (>= 4), libxpm-dev, libx11-dev, xutils
Standards-Version: 3.6.1.0

Package: wmclock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: wmaker
Description: A dockable clock applet for Window Maker
 Wmclock is an applet for Window Maker which displays the date and time
 in a dockable tile.  It features multiple language support, 24h or 12h
 time display, and can run a user-specified program on mouse click.
 .
 For further information see http://www.jmknoble.net/WindowMaker/wmclock/
