Source: wmclock
Section: x11
Priority: optional
Maintainer: Sandro Tosi <matrixhasu@gmail.com>
Build-Depends: debhelper (>= 5), libxpm-dev, libx11-dev, xutils, dpatch, x11proto-xext-dev, libxt-dev, libxext-dev
Standards-Version: 3.7.3
Homepage: http://www.jmknoble.net/WindowMaker/wmclock/

Package: wmclock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: wmaker
Description: dockable clock applet for Window Maker
 Wmclock is  an applet  for Window Maker  which displays the  date and
 time in a dockable tile.   It features multiple language support, 24h
 or 12h  time display, and can  run a user-specified  program on mouse
 click.
