#!/usr/bin/make -f

configure: configure-stamp

configure-stamp:
	dh_testdir
	./configure --prefix=/usr                     \
		    --mandir=/usr/share/man
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	if [ -f Makefile ]; then              \
		rm -f month.xpm weekday.xpm;  \
		$(MAKE) clean;                \
		rm -f Makefile wmclock.man wmclock._man; \
	fi
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install BINDIR=$(CURDIR)/debian/wmclock/usr/bin
	for dir in lang.*; do \
		cp -r "$$dir" $(CURDIR)/debian/wmclock/usr/share/wmclock; \
	done

binary-indep: build install;
# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu -n
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman wmclock.man
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
